@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 1);
    color:white;
}
/* navbar design */
nav{
  
    padding: 5px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav>p{
    font-size: 33px;
    color: #E6533C;
    font-weight: bold;
    font-style: italic;
}
nav>div{
    border: 1px solid rgb(33, 32, 32);
    display: flex;
    gap: 47px;
    align-items: center;
    border-radius: 39px;
    padding: 3px 5px;
}
.home-btn{
    background-color: #E6533C ;
    padding: 5px 10px;
    border-radius: 46px;
}
nav>span{
    margin-right: 5px;
    display: none;
}

/*  banner design */
.banner-container{
    padding: 10px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto ;
}
.banner-left{
    min-height: 200px;
    width: 50%;
}
.banner-left>h1{
    font-size: 78px;
}
.banner-left>p{
    margin-top: 28px;
    margin-bottom: 28px;
}
.btn-container>button{
    width: 200px;
    height: 54px;
    border-radius: 42px;
}
.banner-right{
    min-height: 200px;
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}
.banner-right>img{
    width: 55% ;
}
.tooltip{
    background-color: rgba(128, 128, 128, 0.269);
    position:  absolute ;
    right: -10%;
    width: 193px;
    height: 98px;
    padding-left: 10px;
    padding-top: 20px;
    border-radius: 12px;
    top: 17%;

}
.tooltip2{
    background-color: rgba(79, 70, 70, 0.346);
    position:  absolute ;
    border-radius: 12px;
    padding: 20px;
    gap: 10px;
    top: 70%;
    left: 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ball{
    width: 50px;
    height: 50px;
    background-color: #E6533C;
    border-radius: 50%;
}














































/* responsive codes */
@media  screen  and (max-width:425px) {
    .menu-container{
        display: none;
    }
    nav>span{
    margin-right: 5px;
    display: inline;
}
    .banner-container{
        flex-direction: column;
    }
    .banner-right,.banner-left{
        width: 100%;
    }
    .banner-right>img{
    width: 100% ;
}

.tooltip{
    
    top: 10%;

}
.tooltip2{
    left: 10px;
}
}